#pragma once

#define WIFI_SSID ""
#define WIFI_PASS ""

#define TURN_ON_SOC_GTE 97
#define TURN_OFF_SOC_GTE 95

#define BATTERY_CHARGE_THRESHOLD_1_GT 1000 // Watt
#define BATTERY_CHARGE_THRESHOLD_2_GT 1000 // Watt

#define FRONIUS_API_URL ""